@media screen and (max-width:576px){
    .hero-section{
        margin-top: 3.2rem;
    }
    header .menu .menu-bar{
    display: block;
    }
    header .menu ul{
        display: none;
    }
    /* hero section  */
    .hero-section {
        width: 90%;
        display: block;
    }
    .hero-content{
        width: 100%;
    }
    .hero-content .button{
       display: flex;
       gap: 5px;
       
    }
    .hero-content .button button{
        padding: 6px 13px 6px 13px;
    }
    .hero-content button span{
        display: none;
    }
    .hero-image{
        width: 100%;
    }
    .hero-image .box-2{
        position: absolute;
        bottom: 30%;
        left: 0;
    }

    /* header section design end  */
    /* habit section  */
    .habit .details{
        width: 90%;
    }
    .habit-cards{
        grid-template-columns: repeat(1, 1fr);
    }
    /* run section  */
    .run{
        width: 90%;
        display: block;
    }
    .run-details{
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .run .run-img{
        width: 100%;
    }
    .run-details button{
        width: 100%;
    }
    /* traning section responsive  */
    .traning{
        width: 90%;
    }
    .traning-container-1{
        grid-template-columns: 49% 51%;
    }
    .traning-container-1 .img1{
        height: 8rem;
    }
    .traning-container-1 .img2{
        height: 8rem;
        background-repeat: no-repeat;
        background-size: 291% 194%;
        background-position: left -198px top -20px;
    }
    .traning-container-1 .img3{
        display: none;
    }
    .traning-container-2{
        grid-template-columns: 45% 55%;
    }
    .traning-container-2 .img4{
        height: 8rem;
        position: relative;
        background-size: 222% 118%;
        background-position: 45% 0%;
    }
    .traning-container-2 .img4 h5{
        display: none;
    }
    .traning-container-2 .img4 .responsive{
        display: block;
        color: #fff;
        font-size: 0.9rem;
        position: absolute;
        top: 90px;
        left: 8%;
    }
    .traning-container-2 .img5{
        height: 8rem;
    }
    .traning-container-2 .img6{
        display: none;
    }
    .traning-container-2 .img5 h5{
        display: none;
    }
    .traning-container-2 .img5 .responsive{
        display: block;
    }
    /* traning section responsive end  */
    /* bmi section  */
    .bmi{
        width: 90%;
    }
    .bmi p>br{
        display: none;
    }
}   
