@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

/* font-family: "Dancing Script", cursive;

font-family: "Inter", sans-serif; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
/* global style  */
.btn{
    padding: 16px 40px 16px 40px;
    background-color: #E6533C;
    border: none;
    font-size: 1.25rem;
    border-radius: 45px;
    color: #fff;
}
.background{
    background-color: #000000;
}
.title{
    color: #fff;
    font-size: 3rem;
    font-weight: 900;
}
.disc{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.3px;
}
/* global design end  */


header{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 5) 100%);
    padding-top: 3.5rem;
}
.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-top{
    width: 80%;
    margin: 0 auto;
}
.header-top .logo h1{
    color: #E6533C;
    font-style: italic;
    font-size: 3rem;
}
header .menu{
    display: flex;
}
header .menu ul{
    display: flex;
}
header .menu ul li{
    list-style: none;
    padding: 8px 20px;
    margin:0 10px;
    border-radius: 4rem;
    transition-duration: 0.5s;
}
header .menu ul li:hover{
    background-color: #E6533C;
}
header .menu ul li a{
    text-decoration: none;
    font-size: 1.25rem;
    color: #fff;
}
header .menu .menu-bar{
    display: none;
}
/* header-top finished */

/* hero section style start  */
.hero-section{
    width: 80%;
    margin: 0 auto;
    display: flex;justify-content: space-between;
    align-items: center;
}
.hero-content{
    width: 50%;
}
.hero-content h1{
    font-size: 4.9rem;
    color: #fff;
    font-family: "Inter", sans-serif;
    line-height: 93%;
    margin-bottom: 5%;
}
.hero-content p{
    color: rgba(255, 255, 255, 0.5);
}
.hero-content h1 span{
    font-family: "Dancing Script", cursive;
} 
/* button  */
.download{
    background-color: transparent;
    border: 1px solid #fff;
}
.hero-image {
    background-image: url(images/Images2.png);
    width: 40%;
    height: 580px;
    background-image: cover;
    background-repeat: no-repeat;
    position: relative;
}
.hero-image .box-1{
    background: rgba(255, 255, 255, 0.1); 
    position: absolute;
    top: 20%;
    right: 0;
    border-radius: 12px;
    padding: 5%;
}
.hero-image .box-1 h1{
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
}
.hero-image .box-1 h4{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.82rem;
}
.hero-image .box-2{
    display: flex;
}
.hero-image .box-2 .ellipse{
    width: 4rem;
    background-color: #E6533C;
    border-radius: 50%;
    margin: 5%;
}
.hero-image .box-2 h1{
    font-size: 2.5rem;
    color: #fff;
    margin: 0;
}
.hero-image .box-2 h4{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.82rem;
}
.hero-image .box-2{
    background: rgba(255, 255, 255, 0.1); 
    position: absolute;
    bottom: 12%;
    left: -15%;
    border-radius: 12px;
    padding: 5%;
}

.hero-content .button{
    margin-top: 7%;
}

/* havit section design start  */
.habit{
    padding: 3rem 0;
}
.habit .details{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
/* habit cards  */
.habit-cards{
    width: 80%;
    margin:3.5rem auto;
    gap: 1.9rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.habit-cards .habit-card{

}
.habit-card .img img{
    width: 100%;
    border-radius: 50%;
}
.habit-card .habit-card-title{
    color: #fff;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0.6rem auto;
}
.habit-card .habit-card-paragraph{
    color: rgba(255, 255, 255, 0.5);
    font-size: 0.8rem;
}
/* habit section design  end*/

